<style>
    button:hover, input[type=button]:hover {
      background-color: #ff6600 !important;
    }

    button {
      border-color: #d58512 !important;
    }

    #container_fluid_revise {
      padding-right: 0%;
      padding-left: 0%;
    }

    @media only screen and (max-width: 992px) {
      #header {
        margin-top: 8%;
      }

      .table-responsive {
        font-size: 90% !important;
      }
    }
    
    @media only screen and (max-width: 768px) {
      #header {
        margin-top: 3%;
      }

      #header-title {
      font-size: 250% !important;
      }
    }

     @media only screen and (max-width: 600px) {
      #sec-banner {
        font-size: 80% !important;
      }

      #first-banner {
        font-size: 110% !important
      }

      #header div.col-xs-12 {
        flex-direction: column;
        text-align: center;
      }

      #header-title {
        font-size: 200% !important;
      }

      #header div.col-xs-12 div.col-xs-12 {
        padding-bottom: 2%;
      }
    }

</style>

<div class="row-fluid">
  <div id="header" style="background-color:#ff6600 !important; overflow: hidden;">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="background-color:#ff6600 !important; overflow: hidden; display: flex; align-items: center">
      <div id="header-title" class="col-xs-12 col-sm-8 col-md-8 col-lg-8" style="font-size: 50px;font-weight: bold;color: white; padding:20px;"> Branch Management</div>

      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <span id="first-banner" style="font-size:15px;color:white; font-weight: bold;font-family: arial;">BUNNY TIPS <i class="fa fa-lightbulb-o"></i><br>
        <span id="sec-banner" style="font-size:15px;color:white; font-weight: bold;">You can easily add your branch details simply clicking the add branch button.</span>
      </div>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 10px">
    <div class="panel">
      <div class="panel-body" style="overflow: auto">
        <div style="margin-bottom: 10px;">
          <button type="button" class="btn" style="color: #ffffff; background-color: black;font-family: arial;border-radius: 4px" ng-click="add_branch()"><i class="fa fa-building-o"></i> Add Branch</button>
        </div>
        <div class="clearfix"></div>
      <div class="x_content">
        <table class="table table-hover table-responsive">
          <thead>
            <tr style="background-color:#ff6600;color: white; ">
              <th>Branch Name</th>
              <th>Address</th>
              <th>Contact Person</th>
              <th>Contact Number</th>
              <th>Branch Vat Registered?</th>
              <th>Date Added</th>
              <th>Option</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="v in branch_data.slice(((currentPage_branchdata-1)*itemsPerPage_branchdata), ((currentPage_branchdata)*itemsPerPage_branchdata)) track by $index">

              <td>{{v.branch_name}}</td>
              <td>{{v.address}}</td>
              <td>{{v.contact_person}}</td>
              <td>{{v.contact_number}}</td>
              <td>{{v.vat_registered_for_see}}</td>
              <td>{{v.date_created | date :  "medium" }}</td>
              <td>&nbsp&nbsp<i class="fa fa-pencil" aria-hidden="true" style="cursor:pointer" ng-click="edit_branch(v)"  title="Edit"></i>
                <i class="fa fa-trash" aria-hidden="true" style="cursor:pointer" ng-click="delete_branch(v)"  title="Delete"></i>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
  <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-md-12">
        <center>
          <pagination total-items="totalItems_branchdata" ng-model="currentPage_branchdata" ng-change="pageChanged_branchdata()" class="pagination-md" max-size="maxSize" items-per-page="itemsPerPage_branchdata"></pagination>
        </center>
      </div>
  </div>




<script type="text/ng-template" id="EditUser">
  <div class="ngdialog-message">
    <div style="margin-top: -15px;">
      <h3><span style="color:#ff6600;"><b>{{ modal.title }}<b></span></h3>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
       <label for="bn">Branch Name</label>
       <input id="bn" type="text" class="form-control" ng-model="modal.branch_name">
     </div>
   </div>

   <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
     <label for="addss">Address</label>
     <input id="addss" type="text" class="form-control" ng-model="modal.address">
   </div>
 </div>

 <div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="cp">Contact Person</label>
    <input id="cp" type="text" class="form-control" ng-model="modal.contact_person">
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
   <label for="cn">Contact Number</label>
   <input id="cn" type="text" is-Number class="form-control" ng-model="modal.contact_number">
 </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="vatslct">Is this branch VAT registered?</label>
   <select class="form-control" id="vatslct" ng-model="modal.vat_registered">
    <option value="t">Yes</option>
    <option value="f">No</option>
  </select>
</div>
</div>

<div class="ngdialog-buttons" style="margin-top: 2.5%;">
  <div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-secondary" data-ng-click="confirm(1)"> <i class="fa fa-times-circle"> </i> {{modal.close}}</button>
    <button type="button" class="ngdialog-button ngdialog-button-primary" data-ng-click="closeThisDialog('Save')" style="background-color:#ff6600"> <i class="fa fa-check"> </i> {{modal.save}}</button>
  </div>
</div>
</script>

<script type="text/ng-template" id="UpdateUser">
  <div class="ngdialog-message">
    <div style="margin-top: 1.5%;">
      <h3><span style="color:#ff6600;"><b>{{ modal.title }}<b></span></h3>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
       <label for="bn">Branch Name</label>
       <input id="bn" type="text" class="form-control" ng-model="modal.branch_name">
     </div>
   </div>

   <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
     <label for="addss">Address</label>
     <input id="addss" type="text" class="form-control" ng-model="modal.address">
   </div>
 </div>

 <div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="cp">Contact Person</label>
    <input id="cp" type="text" class="form-control" ng-model="modal.contact_person">
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
   <label for="cn">Contact Number</label>
   <input id="cn" type="text" is-Number class="form-control" ng-model="modal.contact_number">
 </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="vatslct">Is this branch VAT registered?</label>
   <select class="form-control" id="vatslct" ng-model="modal.vat_registered">
    <option value="t">Yes</option>
    <option value="f">No</option>
  </select>
</div>
</div>

<div class="ngdialog-buttons" style="margin-top: 2.5%;">
  <button type="button" class="ngdialog-button ngdialog-button-secondary" data-ng-click="confirm(1)"> <i class="fa fa-times-circle"> </i> {{modal.close}}</button>
  <button type="button" class="ngdialog-button ngdialog-button-primary" data-ng-click="closeThisDialog('Save')" style="background-color:#ff6600"> <i class="fa fa-check"> </i> {{modal.save}}</button>
</div>
</script>

<script type="text/ng-template" id="ConfirmModal">
  <div class="ngdialog-message">
    <div style="margin-top: 1.5%;">
      <h3><span style="color:#ff6600;">{{ modal.title }}</span></h3>
    </div>
  </div>

  <div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-secondary" data-ng-click="confirm(1)">{{modal.close}}</button>
    <button type="button" class="ngdialog-button ngdialog-button-primary" data-ng-click="closeThisDialog('Save')" style="background-color:#ff6600">{{modal.save}}</button>
  </div>
</script>