<style>
    button:hover, input[type=button]:hover {
      background-color: green !important;
    }

    input[type=button] {
      border-color: #d58512;
    }

    #container_fluid_revise {
      padding-right: 0%;
      padding-left: 0%;
    }

    @media only screen and (max-width: 992px) {
      #header {
        margin-top: 8%;
      }

      .table-responsive {
        font-size: 90% !important;
      }
    }

    @media only screen and (max-width: 768px) {
      #header {
        margin-top: 3%;
      }

      #header-title {
      font-size: 250% !important;
      }
    }

    @media only screen and (max-width: 600px) {
      #sec-banner {
        font-size: 90% !important;
      }

      #first-banner {
        font-size: 110% !important
      }

      #header div.col-xs-12 {
        flex-direction: column;
        text-align: center;
      }

      #header-title {
        font-size: 200% !important;
      }

      #header div.col-xs-12 div.col-xs-12 {
        padding-bottom: 2%;
      }
    }
</style>

<div class="row-fluid">
  <div id="header" style="background-color:green !important; overflow: hidden;">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="background-color:green !important; overflow: hidden; display: flex; align-items: center" >
      <div id="header-title" class="col-xs-12 col-sm-8 col-md-8 col-lg-8" style="font-size: 50px;font-weight: bold;color: white; padding:20px;"> Client Management</div>
    </div>
  </div>
</div>

  <div class="row-fluid">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 10px">
      <div class="panel">
        <div class="panel-body" style="overflow: auto">
          <div style="margin-bottom: 10px;">
            <input value="Add Client" type="button" class="btn" ng-click="add_customer()" style="color: #ffffff; background-color: black;font-family: arial;border-radius: 4px;">
          </div>
        <div class="clearfix"></div>
        <div class="x_content">
          <table class="table table-hover table-responsive">
            <thead>
              <tr style="background-color:green;color: white; ">
                <th>Client Name</th>
                <th>TIN #</th>
                <th>Email</th>
                <th>Contact Number</th>
                <th>Address</th>
                <th>Date Added</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="v in customer_data.slice(((currentPage_customerdata-1)*10), ((currentPage_customerdata)*10)) track by $index">

                <td>{{v.client_name}}</td>
                <td>{{v.tin}}</td>
                <td>{{v.email}}</td>
                <td>{{v.contact_number}}</td>
                <td>{{v.street}}, {{v.city}}</td>
                <td>{{v.date_created | date :  "medium" }}</td>
                <td>&nbsp&nbsp<i class="fa fa-pencil" aria-hidden="true" style="cursor:pointer" ng-click="edit_customer(v)"  title="Edit"></i>
                  <i class="fa fa-trash" aria-hidden="true" style="cursor:pointer" ng-click="delete_customer(v)"  title="Delete"></i>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-md-12">
      <center>
        <pagination total-items="totalItems_customerdata" ng-model="currentPage_customerdata" ng-change="pageChanged_customerdata()" class="pagination-md" max-size="maxSize" items-per-page="itemsPerPage_customerdata"></pagination>
      </center>
      
    </div>
  </div>





<script type="text/ng-template" id="EditUser">
  <div class="ngdialog-message">
    <div style="margin-top: -15px;">
      <h3><span style="color:green;"><b>{{ modal.title }}<b></span></h3>

      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-12">
            Client Name <input type="text" class="form-control input-word-uppercase" onkeyup="uppercaseWords(0);" ng-model="modal.client_name">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="col-md-12">
            Street Address <input type="text" class="form-control input-word-uppercase" onkeyup="uppercaseWords(1);" ng-model="modal.address">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="col-md-12">
            City <input type="text" class="form-control input-word-uppercase" onkeyup="uppercaseWords(2);" ng-model="modal.city">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="col-md-12">
            E-Mail <input type="text" class="form-control" ng-model="modal.email">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="col-md-12">
            Contact Number <input type="text" is-Number class="form-control" ng-model="modal.contact_number">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="col-md-12">
            TIN Number <input type="text" is-Number class="form-control" ng-model="modal.tin_number">
          </div>
        </div>
      </div>

      <div class="ngdialog-buttons" style="margin-top:20px;">
        <div class="ngdialog-buttons">
          <button type="button" class="ngdialog-button ngdialog-button-secondary" data-ng-click="confirm(1)"> <i class="fa fa-times-circle"> </i> {{modal.close}}</button>
          <button type="button" class="ngdialog-button ngdialog-button-primary" data-ng-click="closeThisDialog('Save')" style="background-color:green"> <i class="fa fa-check"> </i> {{modal.save}}</button>
        </div>
      </br>
</script>

<script type="text/ng-template" id="ConfirmModal">
  <div class="ngdialog-message">
    <div style="margin-top: -15px;">
      <h3><span style="color:green;">{{ modal.title }}</span></h3>
    </div>
    <div>
      <table style="width: 85%;">
        <thead>
          <tr>
            <td>
            </td>
          </tr>
          <tr>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  <div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-secondary" data-ng-click="confirm(1)">{{modal.close}}</button>
    <button type="button" class="ngdialog-button ngdialog-button-primary" data-ng-click="closeThisDialog('Save')" style="background-color:green">{{modal.save}}</button>
  </div>
</script>

<script>
  function uppercaseWords(index) {
    var element = document.getElementsByClassName("input-word-uppercase");
    var value = element[index].value;
    var valueArray = [];
    valueArray = value.toLowerCase().split(' ');

    for (var i = 0; i < valueArray.length; i++) {
      valueArray[i] = valueArray[i].charAt(0).toUpperCase() + valueArray[i].substring(1);
    }
   
    value = valueArray.join(' ');
    
    element[index].value = value;
  }
</script>