<style type="text/css">

  .effectfront {
    opacity: 0;
    border: none;
    margin: 0 auto;
    z-index: 9999999999999;
    width:100px;
    height:100px;
  }

  .effectfront:hover {
    opacity: 1;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    z-index: 999999999999999999999;
    width:250px;
    height:250px;
    position: absolute;
  }

  .row {
    margin-right: unset;
    margin-left: unset;
  }

  div.panel-body {
    padding: 20px;
  }

  #container_fluid_revise {
    padding-right: 0%;
    padding-left: 0%;
    background-color: white;
  }

  th {
    text-align: center;

  }

  button:hover:not(.ngdialog-button) {
    background-color: green !important;
  }

  input.btn:hover {
    background-color: green !important;
  }

  /*responsiveness*/
  @media only screen and (max-width: 992px) {
      #header {
        margin-top: 8%;
      }

      #add_edit_panel div.panel-body div.col-xs-4.col-sm-4{
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      #add_edit_panel div.panel-body div.col-xs-4.col-sm-4 button {
        width: 70% !important;
      }

      #add_edit_panel div.panel-default div.panel-body div.col-xs-12.col-sm-12 {
        border-right: unset !important;
        margin-top: 10px;
      }
  }

  @media only screen and (max-width: 768px) {
    #header {
      margin-top: 3%;
      padding-top: 2%;
    }

    #header-title, #header-title2{
      font-size: 250% !important;
    }

    #header div div.col-xs-6 span {
      font-size: 100% !important;
    }


    .table-responsive {
      font-size: 80% !important;
    }
  }

  @media only screen and (max-width: 644px) {
    div.panel-body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    div.panel-body .col-xs-6 {
      width: 100% !important;
    }

    #add_edit_panel div.panel-body .col-xs-6 {
      width: 50% !important;
    }

    div.panel-body button {
      margin-top: 2%;
      font-size: 12px;
    }

    .table-responsive {
      overflow-y: auto !important;
    }

     .col-xs-6 {
        text-align: center;
      }
  }

  @media only screen and (max-width: 600px) {
    div.panel-body.table-responsive div.row-fluid div.col-xs-12 {
      text-align: center;
    }

    div.panel-body.table-responsive div.row-fluid div.col-xs-12 input {
      margin-bottom: 1% !important;
    } 
  }

  @media only screen and (max-width: 590px) {
      #header div.col-xs-12 {
        flex-direction: column;
        align-items: center;
        text-align: center
      }

      #header-title, #header-title2 {
        font-size: 200% !important;
      }

      .table-responsive {
        font-size: 80% !important;
      }

      #sec-banner {
        font-size: 90% !important;
      }

      #first-banner {
        font-size: 110% !important
      }

      #header div.col-xs-12 div.col-xs-12 {
        padding-bottom: 2%;
      }
  }

  @media only screen and (max-width: 500px) {
    .form-control {
      font-size: 13px;
    }

    #add_edit_panel div.panel-body {
      padding-left: 20px;
    }

    #add_edit_panel div.panel-default div.panel-body div.col-xs-12.col-sm-12 {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #add_edit_panel div.panel-body .col-xs-6 {
      margin-top: 1% !important;
      width: 100% !important;
    }

    #add_edit_panel div.panel-body div.col-xs-4.col-sm-4 {
      width: 100% !important;
      padding-right: 15px !important;
    }

    #add_edit_panel div.panel-body div.col-xs-6.col-sm-6 {
      padding-left: 15px !important;
    }

    #add_edit_panel div.panel-body div.col-xs-6.col-sm-6 button, #add_edit_panel div.panel-body div.col-xs-4.col-sm-4 button, #add_edit_panel div.panel-body div.col-xs-2.col-sm-2 button{
      width: 70% !important;
    }
    
    #add_edit_panel div.panel-body div.col-xs-2.col-sm-2 {
      width: 100% !important;
    }

    div.panel-body.table-responsive div.row-fluid div.col-xs-12 {
      padding-left: 15px !important;
    }

    div.panel-body.table-responsive div.row-fluid div.col-xs-12 input{
      font-size: 110%;
      width: 60%;
    }
  }

</style>

<div class="row-fluid">
  <div id="header" style="background-color:green !important; overflow: hidden;" >
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="background-color:green !important; overflow: hidden; display: flex; align-items: center; z-index: 1">
      
      <div id="header-title" ng-hide="isVisible" class="col-xs-12 col-sm-7 col-md-7 col-lg-8" style="font-size: 50px;font-weight: bold;color: white; padding:20px;">  Product Code Checker </div>
      <div id="header-title2" ng-show="isVisible" class="col-xs-12 col-sm-7 col-md-7 col-lg-8" style="font-size: 50px;font-weight: bold;color: white; padding:20px;">  Inventory List </div>

      <!-- <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4">
        <span id="first-banner" style="font-size:15px;color:white; font-weight: bold;font-family: arial;">BUNNY TIPS <i class="fa fa-lightbulb-o"></i></span><br>
        <span id="sec-banner" style="font-size:15px;color:white; font-weight: bold;">To speed up encoding of new inventories simply click the similar entry and choose duplicate.</span>
      </div>  -->
    </div>
  </div>
</div>


  <div class="row-fluid" style="margin-top: 10px">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="search_bar" ng-hide="isVisible">
      <div class="panel panel-default" style="border-radius: 5px;">
        <div class="panel-body">
          <div class="col-xs-6 col-sm-7 col-md-7 col-lg-7">
            <input type="text" ng-change="searchmoto(); tab_changer('search');" class="form-control" placeholder="Search Item" ng-model="form.search_item"/>
          </div>

          <div class="col-xs-6 col-sm-5 col-md-5 col-lg-5">
            <button type="button" class="btn btn-warning " ng-hide="isVisible" style="background-color:black;font-family: arial;border-radius: 4px;" ng-click="search_item(); tab_changer('search');"><i class="fa fa-search"></i> Search </button>
            <button type="button" id="add_edit_inve" ng-click="tab_changer('editinve');showHide();" class="btn btn-warning " style="background-color:black;font-family: arial;border-radius: 4px;"><i class="fa fa-edit"></i> Add/Edit Inventory</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div ng-if="tabs.search">
    <div class="row-fluid" >
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel">
          <div class="panel-body table-responsive table-hover">
            <table id="myTable" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table table-hover" style="width:100% !important;max-width: 100%; text-align: center; overflow-y: scroll; overflow-x: scroll">
              <thead>
              <tr ng-if="checked_bcode_status == true" style="background-color:green;color: white; ">
                <th style="width:5% !important;max-width:5% !important;">#</th>
                <th style="width:5% !important;max-width:5% !important;" onclick="sortTable(0)">Product Name</th>
                <th style="width:5% !important;max-width:5% !important;" onclick="sortTable(1)">Receipt Name</th>
                <!-- <th style="width:5% !important;max-width:5% !important;">Product Code</th> -->
                <!-- <th style="width:5% !important;max-width:5% !important;">Rules</th> -->
                <th style="width:5% !important;max-width:5% !important;">Kind</th>
                <!-- <th style="width:5% !important;max-width:5% !important;" >O.R #</th>
                <th style="width:5% !important;max-width:5% !important;">Status</th> -->
                <!-- <th style="width:5% !important;max-width:5% !important;">Supplier Code Name</th> -->
                <th style="width:5% !important;max-width:5% !important;"># of Stocks</th>
                <th style="width:5% !important;max-width:5% !important;">Supplier Price</th>
                <!-- <th style="width:5% !important;max-width:5% !important;">Amount with VAT</th> -->
                <th style="width:5% !important;max-width:5% !important;">Retail Price</th>
                <th style="width:5% !important;max-width:5% !important;">Bar Code</th>
                <th style="width:5% !important;max-width:5% !important;">Date Encoded</th>
                <!-- <th style="width:5% !important;max-width:5% !important;">Product Expiration</th> -->
                <!--<th style="width:5% !important;max-width:5% !important;">Update</th> -->
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="v in checked_bcode_data.slice(((currentPage_productdata-1)*itemsPerPage_productdata), ((currentPage_productdata)*itemsPerPage_productdata)) track by $index" ng-if="checked_bcode_status == true">
                <th scope="row">{{v.number}}</th>
            <td style="width:5% !important;max-width:5% !important;">{{v.product_name}}</td>
            <td style="width:5% !important;max-width:5% !important;">{{v.product_receipt_name}}</td>
            <!-- <td style="width:5% !important;max-width:5% !important;">{{v.product_product_code}}</td> -->
            <!-- <td style="width:5% !important;max-width:5% !important;">{{v.product_rules}}</td> -->
            <td style="width:5% !important;max-width:5% !important;">{{v.product_kind}}</td>
            <!-- <td style="width:5% !important;max-width:5% !important;">{{v.product_or_number}}</td> -->
            <!-- <td style="width:5% !important;max-width:5% !important;" ng-if="v.product_status_color == 1" style="color:{{v.product_status_color1}};">{{v.product_status}}</td> -->
            <!-- <td style="width:5% !important;max-width:5% !important;">{{v.product_supplier}}</td > -->
              <td style="width:5% !important;max-width:5% !important;">{{v.product_stocks}}</td >
                <td style="width:5% !important;max-width:5% !important;">{{v.product_srp}}</td >
                  <!-- <td style="width:5% !important;max-width:5% !important;">{{v.wamount3}}</td > -->
                    <td style="width:5% !important;max-width:5% !important;">{{v.product_price}}</td >
                      <td style="width:5% !important;max-width:5% !important;">{{v.product_bar_code}}</td >
                        <td style="width:5% !important;max-width:5% !important;">{{v.date_created | date :  "medium" }}</td >
                          <!-- <td style="width:5% !important;max-width:5% !important;">{{v.product_expiration | date :  "medium"}}</td > -->
                           <!-- <td style="width:5% !important;max-width:5% !important;">&nbsp;&nbsp;<i class="fa fa-repeat" aria-hidden="true" style="cursor:pointer" ng-click="update_data_checker(v)"  title="Duplicate"></i> -->
<!-- <i class="fa fa-trash" aria-hidden="true" style="cursor:pointer" ng-click="delete_product_data(v)"  title="Delete"></i>
  <i class="fa fa-shopping-cart" ng-if="v.product_stocks <= 3 && v.request_order_status == 'false' || v.request_order_status == 'null'" aria-hidden="true" style="cursor:pointer" ng-click="request_product_order(v)"  title="Request"></i> -->
</td>
</tr>
<tr ng-if="checked_bcode_status == false">
  <td colspan="6" style="text-align: center;">No Data Found</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
    <center>
      <pagination total-items="totalItems_productdata" ng-model="currentPage_productdata" ng-change="pageChanged_productdata()" class="pagination-md" max-size="maxSize" items-per-page="itemsPerPage_productdata"></pagination>
    </center>
  </div>
</div>
</div>
</div>

<script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("myTable");
  switching = true;
  //Set the sorting direction to ascending:
  dir = "asc"; 
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /*check if the two rows should switch place,
      based on the direction, asc or desc:*/
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      //Each time a switch is done, increase this count by 1:
      switchcount ++;      
    } else {
      /*If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again.*/
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>




<script type="text/javascript">
  $(document).ready(function () {
    $('#datetimepicker1').datetimepicker({
      format: 'MM/DD/YYYY'
    });
    $('#datetimepicker2').datetimepicker({
      format: 'MM/DD/YYYY'
    });
  });
</script>

<script type="text/ng-template" id="InputPinModal">
  <div class="ngdialog-message">
    <div style="margin-top: -15px;">
      <h3><span style="color:#0c79be;"><b>{{ modal.title }}<b></span></h3>

    </div>
    <div class="row">
      <div style="margin-left:13px;">
        PIN CODE <input type="password" style="width:350px;" class="form-control" ng-model="modal.pin">
      </div>


      <div class="ngdialog-buttons" style="margin-top:20px;">
        <div class="ngdialog-buttons">
          <button type="button" class="ngdialog-button ngdialog-button-secondary" data-ng-click="confirm(1)"> <i class="fa fa-times-circle"> </i> {{modal.close}}</button>
          <button type="button" class="ngdialog-button ngdialog-button-primary" data-ng-click="closeThisDialog('Save')"> <i class="fa fa-trash"> </i> {{modal.save}}</button>
        </div>
      </br>
    </script>


    <script type="text/ng-template" id="EditMyBarcode">
      <div class="ngdialog-message">
        <div style="margin-top: -15px;">
          <h3><span style="color:green;"><b>{{ modal.title }}<b></span></h3>

        </div>
        <div class="row">
          <div style="margin-left:13px;">
            Product Name <input type="text" style="width:100%;" class="form-control" ng-model="modal.product_name">
          </div>
          <div style="margin-left:13px;">
            Stocks <input type="text" style="width:100%;" is-Number class="form-control" ng-model="modal.product_stocks">
          </div>
          <div style="margin-left:13px;">
            Standard Retail Price <input type="text" is-Number style="width:100%;" class="form-control" ng-model="modal.product_srp">
          </div>
          <div style="margin-left:13px;">
            Item Bar Code <input type="text" style="width:100%;" is-Number class="form-control" ng-model="modal.product_bar_code">
          </div>
          <div style="margin-left:13px;">
            Market Price <input type="text" is-Number style="width:100%;" class="form-control" ng-model="modal.product_price">
          </div>
          <div style="margin-left:13px;">
            Supplier 
            <select style="width:100%;" ng-model="modal.product_supplier" class="form-control">
              <option value="" disabled selected style="display:none"> Select Supplier </option>
              <option ng-repeat="v in supplier_data" value="{{v.supplier_code_name}}">{{v.supplier_name}}</option>
            </select>
          </div>
          <div style="margin-left:13px;">
            Exp. Date 
            <div class='input-group  date' style="width:270px;" datetimepicker ng-model="modal.product_expiration" id='datetimepicker1' >
              <input type='text'  placeholder="Exp. Date" class="form-control" />
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
          <div style="margin-left:13px;">
            Receipt Name <input type="text" max-length="17"  style="width:100%;" class="form-control" ng-model="modal.receipt_name">
          </div>
          
          <br>
          <div class="ngdialog-buttons" style="margin-top:20px;">
            <div class="ngdialog-buttons">
              <button type="button" class="ngdialog-button ngdialog-button-secondary" data-ng-click="confirm(1)"> <i class="fa fa-times-circle"> </i> {{modal.close}}</button>
              <button type="button" class="ngdialog-button ngdialog-button-primary" data-ng-click="closeThisDialog('Save')" style="background-color:green"> <i class="fa fa-upload"> </i> {{modal.save}}</button>
            </div>
          </br>
        </script>

        <script type="text/ng-template" id="RequestOrderDataModal">
          <div class="ngdialog-message">
            <div style="margin-top: -15px;">
              <h3><span style="color:green;"><b>{{ modal.title }}<b></span></h3>

            </div>
            <div class="row">
            <div style="margin-left:13px;">
              Purchase Order Number <input disabled type="text" style="width:350px;" class="form-control" ng-model="modal.finalnumber">
            </div>
            <div style="margin-left:13px;margin-top:10px;">
              Quantity <input type="text" is-Number style="width:300px;" class="form-control" ng-model="modal.product_quantity">
            </div>
            <div style="margin-left:13px;margin-top:10px;">
              Date Needed 
              <div class='input-group  date' style="width:300px;" datetimepicker ng-model="modal.product_date_needed" id='datetimepicker1' >
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </div>
            <div style="margin-left:13px;margin-top:10px;">
              Supplier Price <input type="text" is-Number style="width:300px;" class="form-control" ng-model="modal.product_market_price">
            </div>
          </div>
          <div class="ngdialog-buttons" style="margin-top:20px;">
            <div class="ngdialog-buttons">
              <button type="button" class="ngdialog-button ngdialog-button-secondary" data-ng-click="confirm(1)"> <i class="fa fa-times-circle"> </i> {{modal.close}}</button>
              <button type="button" class="ngdialog-button ngdialog-button-primary" data-ng-click="closeThisDialog('Save')" style="background-color: green"> <i class="fa fa-trash"> </i> {{modal.save}}</button>
            </div>
          </div>
        </br>
      </script>
    
    <div ng-if="tabs.editinve">
     <div class="row-fluid">

      <div class="row-fluid" style="margin-top: 10px" id="add_edit_panel">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="panel panel-default" style="border-radius: 5px;">
            <div class="panel-body" style="padding-left: unset;">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="border-right: 1px ridge darkgray">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  <!-- <select id="sfilt" ng-model="form.search_branch" ng-change="search()" class="form-control">
                    <option value="" disabled selected style="display:none"> Select Branches</option>
                    <option value="All">All</option>
                    <option ng-repeat="v in branch_data" value="{{v.branch_name}}">{{v.branch_name}}</option>
                  </select> -->
                </div>
                 <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  <input type="text" class="form-control" ng-change="search()" placeholder="Search Product Name" ng-model="form.search"/>
                </div> 
              </div>
              
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding-right: 0">
                  <button type="button" class="btn btn-warning " ng-click="check_item()" style="background-color: black;font-family: arial;border-radius: 4px; width: 80%;">
                    <i class="fa fa-plus"></i> Add Item
                  </button> 
                </div> 
                <!-- <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="display: flex; align-items: center; flex-flow: column; padding-left: 0">
                  <button type="button" class="btn btn-warning" ng-click="sortstocks_checker();stocks_status=1" style="color: #ffffff; background-color: black; font-family: arial;border-radius: 4px; width: 80%"> Sort Stocks Availability<span class="fa {{fa}}"></span></button>
                </div> -->
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="display: flex; align-items: center; flex-flow: column">
                  <button type="button" id="back-btn" ng-click="search_item(); tab_changer('search');showHide();" type="button" class="btn btn-warning" style="color: #ffffff;margin-left:900%; background-color: black; font-family: arial;border-radius: 4px;"><i class="glyphicon glyphicon-chevron-left"></i> Back</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
        

<!-- <div>
<p ng-click="sortaz()" id="sort" style="cursor:pointer;margin-left:700px;margin-top:-50px;font-size:20px;">Sort A-Z</p>
</div>
-->
<div class="row-fluid">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel">
      <div class="panel-body table-responsive">
        <table id="wtf" style="width:100% !important;" class="table table-hover">
          <thead style="background-color:green;color: white;">
            <tr >
              <th style="width:5% !important;max-width:5% !important;">#</th>
              <th style="width:5% !important;max-width:5% !important;" onclick="Trueshot(0)">Product Name</th>
              <th style="width:5% !important;max-width:5% !important;" onclick="Trueshot(1)">Receipt Name</th>
              <!-- <th style="width:5% !important;max-width:5% !important;">Product Code</th> -->
              <!-- <th style="width:5% !important;max-width:5% !important;">Rules</th> -->
              <th style="width:5% !important;max-width:5% !important;">Kind</th>
              <!-- <th style="width:5% !important;max-width:5% !important;" >O.R #</th>
              <th style="width:5% !important;max-width:5% !important;">Status</th> -->
              <!-- <th style="width:5% !important;max-width:5% !important;">Supplier Code Name</th> -->
              <th style="width:5% !important;max-width:5% !important;"># of Stocks</th>
              <th style="width:5% !important;max-width:5% !important;">Supplier Price</th>
              <!-- <th style="width:5% !important;max-width:5% !important;">Input VAT</th>
              <th style="width:5% !important;max-width:5% !important;">Markup Price</th> -->
              <th style="width:5% !important;max-width:5% !important;">Selling Price</th>
              <!-- <th style="width:5% !important;max-width:5% !important;">Output VAT</th> -->

              <th style="width:5% !important;max-width:5% !important;">Product Code</th>
              <th style="width:5% !important;max-width:5% !important;">Date Encoded</th>
              <!-- <th style="width:5% !important;max-width:5% !important;">Product Expiration</th> -->
              <!-- <th style="width:5% !important;max-width:5% !important;">Remarks</th> -->
              <th style="width:5% !important;max-width:5% !important;">Option</th>
            </tr>
          </thead>
          <tbody>
            <div class="row-fluid">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left: unset;margin-left:75%;">
                <!--<input type="text" class="form-control" ng-change="search()" placeholder="Search Product Name" ng-model="form.search"/> 
                <input type="button" style="margin-left:70%;background-color:black;font-family: arial" class="btn btn-warning" value="Add Item" ng-click="check_item()">  -->
                <input type="button" style="background-color:black;font-family: arial" class="btn btn-warning" value="Download PDF Copy" ng-click="print_items()">
                <input type="button" style="background-color:black;font-family: arial" class="btn btn-warning" value="Download Excel Copy" ng-click="print_items_csv()">

                <!-- <input type="button" style="background-color:black;font-family: arial;border-radius: 4px" class="btn btn-warning" value="Upload Inventory Copy" ng-click="upload_items_inventory()"> -->
              </div>
            </div>
            <tr ng-repeat="(k,v) in product_data.slice(((currentPage_productdata-1)*itemsPerPage_productdata), ((currentPage_productdata)*itemsPerPage_productdata))"  style="width:100% !important;max-width:6% !important;margin-top: -5px;">
              <th scope="row">{{v.number}}</th>
              <!-- <td ng-if="!v.product_image_status" 
                style="display: block; background: url('./ASSETS/picture/no_image.gif'); 
                margin: 0 auto; z-index: 9999999999999; padding:2px; 
                background-repeat: no-repeat; background-size: 50px 50px;">
                <img src='./ASSETS/picture/no_image.gif' class="effectfront" 
                style="z-index:99999999">
              </td>
              <td ng-if="v.product_image_status" 
              style="display: block; background: url('{{v.product_image}}'); margin: 0 auto; z-index: 9999999999999; padding:2px; background-repeat: no-repeat; background-size: 50px 50px;">
              <img src='{{v.product_image}}' class="effectfront" 
              style="z-index:99999999">
            </td> -->
              <th style="width:6% !important;max-width:6% !important;">{{v.product_name}}</th>
              <th style="width:6% !important;max-width:6% !important;">{{v.product_receipt_name}}</th>
              <!-- <th style="width:6% !important;max-width:6% !important;">{{v.product_product_code}}</th> -->
              <!-- <th style="width:6% !important;max-width:6% !important;">{{v.product_rules}}</th> -->
              <th style="width:6% !important;max-width:6% !important;">{{v.product_kind}}</th>
              <!-- <th style="width:6% !important;max-width:6% !important;">{{v.product_or_number}}</th> -->
              <!-- <th ng-if="v.product_status_color == 1" style="color:{{v.product_status_color1}};width:6% !important;max-width:6% !important;">{{v.product_status}}</th> -->
              <!-- <th style="width:6% !important;max-width:6% !important;">{{v.product_supplier}}</th> -->
              <th style="width:6% !important;max-width:6% !important;">{{v.product_stocks}}</th>
              <th style="width:6% !important;max-width:6% !important;">{{v.product_srp}}</th>
              <!-- <th style="width:6% !important;max-width:6% !important;">{{v.input_vat}}</th> -->
              <!-- <th style="width:6% !important;max-width:6% !important;">{{v.product_price}}</th> -->
              <th style="width:6% !important;max-width:6% !important;">{{v.selling_price}}</th>
              <th style="width:6% !important;max-width:6% !important;">{{v.product_bar_code}}
              </th>
              <th style="width:6% !important;max-width:6% !important;">{{v.date_created | date :  "medium" }}</th>
              <!-- <th style="width:6% !important;max-width:6% !important;">{{v.product_expiration | date :  "medium"}}</th> -->
              <!-- <th style="width:6% !important;max-width:6% !important;color:{{v.remarks_color}};">{{v.remarks}}</th> -->
              <th style="width:6% !important;max-width:6% !important;">&nbsp;&nbsp;<i class="fa fa-pencil" aria-hidden="true" style="cursor:pointer" ng-click="edit_product_data(v)"  title="Edit"></i>
                <!--<i class="fa fa-trash" aria-hidden="true" style="cursor:pointer" ng-click="delete_product_data(v)"  title="Delete"></i> -->
                <i class="fa fa-shopping-cart" ng-if="v.product_stocks <= 3 && v.request_order_status == 'false' || v.request_order_status == 'null'" aria-hidden="true" style="cursor:pointer" ng-click="request_product_order(v)" title="Request"></i>
                <i class="fa fa-check" style="cursor:pointer" ng-click="complete_request(v)" title="Request Completed" ng-if="v.request_order_status == true"></i>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>




  <!-- <button type="button" ng-click="upload_image_product()" style="color: #f4b042; background-color: #4423bc"><span class="fa fa-upload"></span></button>  -->
<script type="text/javascript">
  $(document).ready(function () {
    $('#datetimepicker11').datetimepicker({
      format: 'MM/DD/YYYY'
    });
    $('#datetimepicker22').datetimepicker({
      format: 'MM/DD/YYYY'
    });
  });
</script>

<script type="text/ng-template" id="RequestOrderDataModal">
  <div class="ngdialog-message">
    <div style="margin-top: -15px;">
      <h3><span style="color:green;"><b>{{ modal.title }}<b></span></h3>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <label for="ponz">Purchase Order Number</label>
      <input id="ponz" type="text" class="form-control" 
      ng-model="modal.finalnumber" disabled>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <label for="quantity">Quantity</label>
      <input id="quantity" type="text" is-Number class="form-control" 
      ng-model="modal.product_quantity">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <label for="datetimepicker1">Date Needed </label>
      <div class='input-group  date' datetimepicker 
      ng-model="modal.product_date_needed" id='datetimepicker1' >
      <input type='text' class="form-control" />
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="splier">Supplier Price </label>
    <input id="splier" type="text" is-Number class="form-control" 
    ng-model="modal.product_market_price">
  </div>
</div>

<hr>

<div class="ngdialog-buttons" style="margin-top:20px;">
  <div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-secondary" data-ng-click="confirm(1)"> <i class="fa fa-times-circle"> </i> {{modal.close}}</button>
    <button type="button" class="ngdialog-button ngdialog-button-primary" data-ng-click="closeThisDialog('Save')"
    style="background-color: green;"> <i class="fa fa-trash"> </i> {{modal.save}}</button>
  </div>
</div>
</script>

<script type="text/ng-template" id="SendEmailRequest">
  <div class="ngdialog-message">
    <div style="margin-top: -15px;">
      <h3><span style="color:green;"><b>{{ modal.title }}<b></span></h3>

    </div>
    <div class="row">
      <div style="margin-left:13px;">
        Remarks <textarea ng-model="form.remarks" cols="20" rows="5"></textarea>
      </div>
    </div>


    <div class="ngdialog-buttons" style="margin-top:20px;">
      <div class="ngdialog-buttons">
        <button type="button" class="ngdialog-button ngdialog-button-secondary" data-ng-click="confirm(1)"> <i class="fa fa-times-circle"> </i> {{modal.close}}</button>
        <button type="button" class="ngdialog-button ngdialog-button-primary" data-ng-click="closeThisDialog('Save')" style="background-color: green;"> <i class="fa fa-trash"> </i> {{modal.save}}</button>
      </div>
    </div>
  </div>
</br>
</script>

<script type="text/ng-template" id="InputPinModal">
  <div class="ngdialog-message">
    <div style="margin-top: -15px;">
      <h3><span style="color:green;"><b>{{ modal.title }}<b></span></h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <label for="pncde">PIN CODE </label>
      <input id="pncde" type="password" class="form-control" ng-model="modal.pin">
    </div>
  </div>


  <div class="ngdialog-buttons" style="margin-top:20px;">
    <div class="ngdialog-buttons">
      <button type="button" class="ngdialog-button ngdialog-button-secondary" data-ng-click="confirm(1)"> <i class="fa fa-times-circle"> </i> {{modal.close}}</button>
      <button type="button" class="ngdialog-button ngdialog-button-primary" data-ng-click="closeThisDialog('Save')" style="background-color: green;"> <i class="fa fa-trash"> </i> {{modal.save}}</button>
    </div>
  </div>
</script>

<script type="text/ng-template" id="EditMyProfile">
  <div class="ngdialog-message">
    <div style="margin-top: -2.5%;">
      <h3><span style="color:green;"><b>{{ modal.title }}<b></span></h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <label for="prod_nme">Product Name </label>
      <input id="prod_nme" type="text" class="form-control" 
      ng-model="modal.product_name"/>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <label for="stcks">Stocks </label>
      <input id="stcks" type="text" is-Number class="form-control" ng-model="modal.product_stocks" id="Stocks">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <label for="srp">Supplier Retail Price</label>
      <input id="srp" type="text" is-Number class="form-control" ng-model="modal.product_srp"/>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <label for="ibc">Item Bar Code </label>
      <input id="ibc" type="text" is-Number class="form-control" 
      ng-model="modal.product_bar_code"/>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <label for="tbc">Markup Price </label>
      <input id="ibc" type="text" is-Number class="form-control" ng-model="modal.product_price"/>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <label for="splier">Supplier  </label>
      <select id="splier" ng-model="modal.product_supplier" 
      class="form-control">
      <option value="" disabled selected style="display:none"> Select Supplier </option>
      <option ng-repeat="v in supplier_data" value="{{v.supplier_code_name}}">{{v.supplier_name}}</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="rptname">Receipt Name  </label>
    <input id="rptname" type="text" max-length="17" class="form-control"
    ng-model="modal.receipt_name">
  </div>
</div>
<div class="row">
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="slckinds">Select Kinds  </label>
    <select id="slckinds" ng-model="modal.product_kinds" 
    class="form-control">
    <option value="" disabled selected style="display:none"> Select Kinds</option>
    <option value="Hard Copy Sub# 20">Hard Copy Sub# 20</option>
    <option value="Hard Copy Sub# 24">Hard Copy Sub# 24</option>
    <option value="FAX Paper">FAX Paper</option>
    <option value="Cartolina">Cartolina</option>
    <option value="Notebook Spiral 80lvs">Notebook Spiral 80lvs</option>
    <option value="Basketball Leather & Rubber">Basketball Leather & Rubber</option>
    <option value="Badminton Carlton">Badminton Carlton</option>
    <option value="Ballpen">Ballpen</option>
    <option value="Marker">Marker</option>
    <option value="Folders">Folders</option>
    <option value="Papers">Papers</option>
    <option value="Clips">Clips</option>
  </select>  
</div>

<hr>

<hr>

<div class="ngdialog-buttons" style="margin-top: 2.5%;">
  <div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-secondary" data-ng-click="confirm(1)"> <i class="fa fa-times-circle"> </i> {{modal.close}}</button>
    <button type="button" class="ngdialog-button ngdialog-button-primary" data-ng-click="closeThisDialog('Save')" style="background-color: green"> <i class="fa fa-upload"> </i> {{modal.save}}</button>
  </div>
</div>
</script>

<script type="text/ng-template" id="EditSupplierData">
  <div class="ngdialog-message">
    <div style="margin-top: -15px;">
      <h3><span style="color:green;"><b>{{ modal.title }}<b></span></h3>

    </div>
    <div class="row">
      <div style="margin-left:13px;">
        Supplier Name <input type="text" style="width:100%;" class="form-control" ng-model="modal.supplier_name">
      </div>
      <div style="margin-left:13px;">
        Supplier Address <input type="text" style="width:100%;" class="form-control" ng-model="modal.supplier_address">
      </div>
      <div style="margin-left:13px;">
        Supplier Contact Number <input type="text" is-Number style="width:100%;" class="form-control" ng-model="modal.supplier_contact_number">
      </div>
      <div style="margin-left:13px;">
        Supplier Contact Person <input type="text" style="width:100%;" class="form-control" ng-model="modal.supplier_contact_person">
      </div>
      <div style="margin-left:13px;">
        Supplier Code Name <input type="text" style="width:100%;" class="form-control" ng-model="modal.supplier_code_name">
      </div>
      <br>


      <div class="ngdialog-buttons" style="margin-top:20px;">
        <div class="ngdialog-buttons">
          <button type="button" class="ngdialog-button ngdialog-button-secondary" data-ng-click="confirm(1)"> <i class="fa fa-times-circle"> </i> {{modal.close}}</button>
          <button type="button" class="ngdialog-button ngdialog-button-primary" data-ng-click="closeThisDialog('Save')" style="background-color:green;"> <i class="fa fa-upload"> </i> {{modal.save}}</button>
        </div>
      </br>
    </script>

    <script type="text/javascript">
      $(document).ready(function () {
        $('#datetimepicker1').datetimepicker({
          format: 'MM/DD/YYYY'
        });
      });
    </script>

    <script type="text/ng-template" id="MyPointsModal">
      <div class="ngdialog-message" style="width: 500px;">
        <div style="margin-top: -15px;">
          <h3><span style="color:green;">{{ modal.title }}</span></h3>

        </div>
        <div>
          <table style="width: 85%;">
            <thead>
              <tr>
                <td>
                  <input type="text" class="form-control" is-Number maxlength="7" placeholder="2000" ng-model="form.request_points" />
                </td>
              </tr>
            </thead>
          </table>
        </div>
      </div>
      <div class="ngdialog-buttons">
        <button type="button" class="ngdialog-button ngdialog-button-secondary" data-ng-click="confirm(1)"> <i class="fa fa-times-circle"> </i> {{modal.close}}</button>
        <button type="button" class="ngdialog-button ngdialog-button-primary" data-ng-click="closeThisDialog('Save')" style="background-color: green;"> <i class="fa fa-check-square-o"> </i> {{modal.save}}</button>
      </div>
    </script>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
      <center>
        <pagination total-items="totalItems_productdata" ng-model="currentPage_productdata" ng-change="pageChanged_productdata()" class="pagination-md" max-size="maxSize" items-per-page="itemsPerPage_productdata"></pagination>
      </center>
    </div>
  </div>
</div>


<script>
function Trueshot(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("wtf");
  switching = true;
  //Set the sorting direction to ascending:
  dir = "asc"; 
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /*check if the two rows should switch place,
      based on the direction, asc or desc:*/
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      //Each time a switch is done, increase this count by 1:
      switchcount ++;      
    } else {
      /*If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again.*/
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>




<script id=OpenModal type=text/ng-template>
  <div class="ngdialog-message">
    <div >
      <div class="row-fluid">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom:1%">
          <div class="row-fluid">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
              <input type="text" class="form-control" placeholder="Prod. Name" ng-model="form.product_name"/>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
              <input type="text" maxlength="9" class="form-control" is-Number placeholder="Stocks" ng-model="form.product_stocks"/>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
              <input type="text" class="form-control" is-Number placeholder="Product Code" ng-model="form.product_bar_code"/>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
              <input type="text" maxlength="9" class="form-control" is-Number placeholder="Supplier Price" ng-model="form.srp"/>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
              <input type="text" maxlength="9" class="form-control" placeholder="Markup Price" ng-model="form.product_price"/>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="row-fluid">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="margin-bottom:1%">
              <select ng-model="form.product_supplier" class="form-control">
                <option value="" disabled selected style="display:none"> Select Supplier </option>
                <option ng-repeat="v in supplier_data" value="{{v.supplier_code_name}}">{{v.supplier_name}}</option>
              </select>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <input type="text" class="form-control" max-length="17"  placeholder="Receipt Name" ng-model="form.receipt_name"/>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="row-fluid">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <select ng-model="form.product_kinds" class="form-control">
                <option value="" disabled selected style="display:none"> Select Kinds</option>
                <option value="Hard Copy Sub# 20">Hard Copy Sub# 20</option>
                <option value="Hard Copy Sub# 24">Hard Copy Sub# 24</option>
                <option value="FAX Paper">FAX Paper</option>
                <option value="Cartolina">Cartolina</option>
                <option value="Notebook Spiral 80lvs">Notebook Spiral 80lvs</option>
                <option value="Basketball Leather & Rubber">Basketball Leather & Rubber</option>
                <option value="Badminton Carlton">Badminton Carlton</option>
                <option value="Ballpen">Ballpen</option>
                <option value="Marker">Marker</option>
                <option value="Folders">Folders</option>
                <option value="Papers">Papers</option>
                <option value="Clips">Clips</option>
              </select> 
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="row-fluid">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top:1%">
              <div class="row">
               <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <button type="button" class="ngdialog-button ngdialog-button-primary" data-ng-click="closeThisDialog('Save')" style="background-color: green"> <i class="fa fa-upload"> </i> {{modal.save}}</button></div>
                <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                  <button type="button" class="ngdialog-button ngdialog-button-secondary" data-ng-click="confirm(1)"> <i class="fa fa-times-circle"> </i> {{modal.close}}</button></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</script>
<script type="text/ng-template" id="UploadModal">
  <div class="ngdialog-message">
    <div style="margin-top: -1%;">
      <h3><span style="color:#ffbf00;"><b>{{ modal.title }}<b></span></h3>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p>Select a Picture of the Product:</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <span style="font-size:12px; color:#FF0000;">* Only jpg, png files are allowed.</span>
        <input type="file" tabindex="15" nv-file-select="" accept=".jpg,.png,.jpeg" uploader="upload_image" />
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="progress">
          <div class="progress-bar" role="progressbar" ng-style="{ 'width': upload_image.progress + '%' }"></div>
        </div>
        <button type="button" tabindex="16" class="btn btn-success btn-s" ng-click="upload_image.uploadAll()" ng-disabled="!upload_image.getNotUploadedItems().length">
          <span class="glyphicon glyphicon-upload"></span> Upload
        </button>
        <button type="button" tabindex="17" class="btn btn-warning btn-s" ng-click="upload_image.cancelAll()" ng-disabled="!upload_image.isUploading">
          <span class="glyphicon glyphicon-ban-circle"></span> Cancel
        </button>
      </div>
    </div>

    <div class="ngdialog-buttons" style="margin-top:20px;">
      <div class="ngdialog-buttons">
        <button type="button" class="ngdialog-button ngdialog-button-secondary" data-ng-click="confirm(1)"> <i class="fa fa-times-circle"> </i> {{modal.close}}</button>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="UploadModal2">
  <div class="ngdialog-message">
    <div style="margin-top: -1%;">
      <h3><span style="color:#ffbf00;"><b>{{ modal.title }}<b></span></h3>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p>Select a file:</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <span style="font-size:12px; color:#FF0000;">* Only .csv files are allowed.</span>
        <input type="file" tabindex="15" nv-file-select="" accept=".csv" uploader="upload_image2" />
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="progress">
          <div class="progress-bar" role="progressbar" ng-style="{ 'width': upload_image2.progress + '%' }"></div>
        </div>
        <button type="button" tabindex="16" class="btn btn-success btn-s" ng-click="upload_image2.uploadAll()" ng-disabled="!upload_image2.getNotUploadedItems().length">
          <span class="glyphicon glyphicon-upload"></span> Upload
        </button>
        <button type="button" tabindex="17" class="btn btn-warning btn-s" ng-click="upload_image2.cancelAll()" ng-disabled="!upload_image2.isUploading">
          <span class="glyphicon glyphicon-ban-circle"></span> Cancel
        </button>
      </div>
    </div>

    <div class="ngdialog-buttons" style="margin-top:20px;">
      <div class="ngdialog-buttons">
        <button type="button" class="ngdialog-button ngdialog-button-secondary" data-ng-click="confirm(1)"> <i class="fa fa-times-circle"> </i> {{modal.close}}</button>
      </div>
    </div>
  </script>